:root {
  --primary: #1e90ff;
  --secondery: #00a700;
  --black: #000;
  --gray: gray;
}

.warningRes {
  width: 100%;
  padding: 10px;
  background-color: #E6C0C0;
  display: flex;
  align-items: start;
  gap: 10px;
}
.warningRes .warningTxt p {
  line-height: 1.4;
  color: rgba(60, 60, 60, 0.7019607843);
  font-size: 16px;
}

.errorText {
  width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  color: red;
}

.successRes {
  width: 100%;
  padding: 10px;
  background-color: #92D3A8;
  display: flex;
  align-items: start;
  gap: 10px;
  border-radius: 10px;
}
.successRes .successTxt p {
  line-height: 1.4;
  color: rgba(60, 60, 60, 0.7019607843);
  font-size: 14px;
}

header {
  background-color: rgba(238, 238, 238, 0.9333333333);
}
header .mainHeader {
  padding: 15px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary);
}
header .mainHeader .logo {
  width: 282px;
  cursor: pointer;
}
header .mainHeader .logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .mainHeader .login {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .mainHeader .login span {
  font-size: 20px;
}
header nav {
  padding: 0;
  padding-left: 10px;
  background: var(--primary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h1 {
  color: white;
}
header nav .veryfiedANDscecuredBTN {
  padding: 0px 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  color: var(--secondery);
  background-color: white;
  transition: 0.1s all linear;
  border-radius: 10px;
  cursor: pointer;
}
header nav .veryfiedANDscecuredBTN:hover {
  background-color: var(--secondery);
  color: white;
}
header nav .headerBTNBox {
  display: flex;
}
header nav .headerBTNBox button {
  background-color: #0061bb;
  height: 100%;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #0043a7;
  color: #fff;
  transition: 0.1s all linear;
}
header nav .headerBTNBox button:hover {
  background: var(--secondery);
}
header .heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 8px;
}
header .heading h2 {
  padding-bottom: 10px;
}
header .heading .pageOption {
  width: 100px;
  padding: 4px 12px;
  height: 30px;
  background-color: #1e90ff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  border-radius: 5px;
  position: relative;
  border: 2px solid gray;
  cursor: pointer;
}
header .heading .pageOption .formPagenetion {
  position: absolute;
  width: 120%;
  top: 29px;
  right: -2px;
  border: 2px solid gray;
  border-radius: 5px;
  color: #FFF;
}
header .heading .pageOption .formPagenetion ol {
  background-color: gray;
  list-style-position: inside;
}
header .heading .pageOption .formPagenetion ol li {
  width: 100%;
  padding: 4px;
}
header .heading .pageOption .formPagenetion ol li:hover {
  background: rgba(0, 0, 0, 0.1176470588);
  color: var(--primary);
  cursor: pointer;
}
header .heading .pageOption .formPagenetion ol :first-child {
  background: #004c97;
}

#formContainer {
  width: 100%;
  padding: 0 20px;
  box-shadow: 0px 7px 9px 0px rgba(138, 138, 138, 0.6156862745);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#PreviousAddress {
  padding: 10px 0;
}

.radioWarpper {
  background-color: rgba(238, 238, 238, 0.9333333333);
  border-radius: 5px;
  margin-bottom: 20px;
}
.radioWarpper .radio-Heading {
  font-size: 16px;
  font-weight: 400;
  background-color: #0072bc;
  color: white;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.radioWarpper .radio-Heading .requires {
  color: red;
  padding-left: 5px;
}
.radioWarpper .radio-Button-Warpper {
  padding: 10px;
  margin-bottom: 5px;
  padding-left: 5px;
  display: flex;
  gap: 20px;
  background-color: #E9F1F9;
}
.radioWarpper .radio-Button-Warpper .radio-button {
  font-size: 14px;
}
.radioWarpper .radio-description {
  padding: 3px 10px;
}

.buttonWarpper {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.buttonWarpper .prevBox button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: gray;
  color: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 1px 6px 1px gray;
}
.buttonWarpper .prevBox button:hover {
  background-color: green;
}
.buttonWarpper .nextBox #nextBTN,
.buttonWarpper .nextBox #nextBTN2 {
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--secondery);
  color: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 1px 6px 1px gray;
}
.buttonWarpper .nextBox #nextBTN:hover,
.buttonWarpper .nextBox #nextBTN2:hover {
  background-color: green;
}
.buttonWarpper .nextBox p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
}
.buttonWarpper .nextBox p a {
  color: #0061bb;
  font-weight: 200;
}

.addressHeading {
  width: 100%;
  margin-top: 20px;
}
.addressHeading h2 {
  color: var(--primary);
  margin-bottom: 8px;
}
.addressHeading p {
  color: rgba(60, 60, 60, 0.7019607843);
  font-size: 14px;
}

.inputRow {
  width: 100%;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.inputRow .labelcol {
  width: 210px;
  color: rgba(0, 153, 255, 0.7254901961);
  font-size: 14px;
}
.inputRow .inputCol {
  width: 100%;
  max-width: 300px;
}
.inputRow .inputCol input,
.inputRow .inputCol select {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.3764705882);
  outline: none;
  border-radius: 5px;
  padding: 6px 12px;
}
.inputRow .inputCol input:hover,
.inputRow .inputCol select:hover {
  border: 1px solid var(--primary);
}
.inputRow .inputCol input:focus,
.inputRow .inputCol select:focus {
  border: 1px solid var(--primary);
  outline: 1px solid #7bbdff;
  box-shadow: 0px 0px 6px 0px #7bbdff;
}
.inputRow .inputCol select {
  width: -moz-fit-content;
  width: fit-content;
}

input[type=date] {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.3764705882);
  outline: none;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}
input[type=date]:hover {
  border: 1px solid var(--primary);
}
input[type=date]:focus {
  border: 1px solid var(--primary);
  outline: 1px solid #7bbdff;
  box-shadow: 0px 0px 6px 0px #7bbdff;
}

select {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.3764705882);
  outline: none;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}
select:hover {
  border: 1px solid var(--primary);
}
select:focus {
  border: 1px solid var(--primary);
  outline: 1px solid #7bbdff;
  box-shadow: 0px 0px 6px 0px #7bbdff;
}

.A_numberWarpper {
  background-color: rgba(238, 238, 238, 0.9333333333);
  border-radius: 5px;
  margin-bottom: 20px;
}
.A_numberWarpper .Aheading {
  background-color: red;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 12px 5px;
}
.A_numberWarpper .inputWarpper {
  padding: 5px 0;
  display: flex;
  background-color: #E9F1F9;
  max-width: 300px;
}
.A_numberWarpper .inputWarpper span {
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.3764705882);
  border-right: transparent;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.A_numberWarpper .inputWarpper input {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.3764705882);
  outline: none;
  border-radius: 5px;
  padding: 10px;
}
.A_numberWarpper .inputWarpper input:hover {
  border: 1px solid var(--primary);
}
.A_numberWarpper .inputWarpper input:focus {
  border: 1px solid var(--primary);
  outline: 1px solid #7bbdff;
  box-shadow: 0px 0px 6px 0px #7bbdff;
}
.A_numberWarpper .Adescription {
  padding-bottom: 10px;
  padding: 8px 5px;
}
.A_numberWarpper .Adisclimer {
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  background-color: #FFD9D9;
  color: #D46161;
  line-height: 20px;
}

.complitionText {
  text-align: center;
  padding: 48px;
}

.craeteMyFiles {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.craeteMyFiles button {
  background-color: var(--primary);
  padding: 6px 12px;
  width: 50%;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: #eee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #7c7c7c;
}
footer .footerWarpper {
  width: 100%;
  display: flex;
  padding: 16px;
  align-items: center;
}
footer .footerWarpper .imgBox {
  width: 20%;
}
footer .footerWarpper .footerContent {
  width: 80%;
  text-align: center;
}
footer .footerWarpper .footerContent p {
  font-size: 12px;
}
footer .footerWarpper .footerContent p b {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 6px;
}

.footnote {
  padding: 48px 0;
  text-align: center;
}

@media (max-width: 768px) {
  header {
    background-color: rgba(238, 238, 238, 0.9333333333);
  }
  header .mainHeader {
    padding: 15px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
  }
  header .mainHeader .logo {
    width: 282px;
    cursor: pointer;
  }
  header .mainHeader .logo img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .mainHeader .login {
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  header .mainHeader .login span {
    font-size: 20px;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  header nav h1 {
    width: 100%;
    order: 2;
    text-align: center;
    padding-top: 2px;
  }
  header nav .veryfiedANDscecuredBTN {
    width: 180px;
  }
  header .heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 8px;
  }
  header .heading h2 {
    padding-bottom: 10px;
  }
  header .heading .pageOption {
    width: 100px;
    min-width: 100px;
  }
  .footnote {
    background-color: #004c97;
  }
}/*# sourceMappingURL=style.css.map */