:root {
  --primary: #1e90ff;
  --secondery: #00a700;
  --black: #000;
  --gray: gray;
  --textPrimery: 0072bc;
  --white: #fff;
}

.pro-hidden {
  display: none;
}

.warnInput {
  border-color: red !important;
}

#immigration_form input[type=radio] {
  accent-color: var(--primary) !important;
  border: 1px solid red;
  color: rebeccapurple;
  background-color: #000;
}

input[type=radio] {
  accent-color: red;
}

#immigration_form * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.pro_container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto !important;
  padding: 0 20px;
}

#immigration_form {
  width: 100%;
}
#immigration_form .hidden {
  display: none;
}
#immigration_form button {
  display: inline-block;
  border: none;
  outline: none;
}
#immigration_form h2 {
  background-color: var(--primary);
  text-align: center;
  padding: 8px 0;
  margin-bottom: 30px;
  color: var(--white);
}
#immigration_form .radioRow {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 25px 0;
}
#immigration_form .radioRow input[type=radio] {
  cursor: pointer;
}
#immigration_form header {
  background-color: rgba(238, 238, 238, 0.9333333333);
  border-bottom: 3px solid #cccccc;
}
#immigration_form header .mainHeader {
  padding: 15px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary);
}
#immigration_form header .mainHeader .logo {
  width: 282px;
  cursor: pointer;
}
#immigration_form header .mainHeader .logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#immigration_form header .mainHeader .login {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#immigration_form header .mainHeader .login span {
  font-size: 20px;
}
#immigration_form header nav {
  padding: 0px;
  padding-left: 10px;
  background: var(--primary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#immigration_form header nav h1 {
  color: white;
  font-size: 16pt;
}
#immigration_form header nav .veryfiedANDscecuredBTN {
  padding: 0px 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  color: var(--secondery);
  background-color: white;
  transition: 0.1s all linear;
  border-radius: 10px;
  cursor: pointer;
}
#immigration_form header nav .veryfiedANDscecuredBTN:hover {
  background-color: var(--secondery);
  color: white;
}
#immigration_form header nav .headerBTNBox {
  display: flex;
}
#immigration_form header nav .headerBTNBox button {
  background-color: #0061bb;
  height: 100%;
  cursor: pointer;
  padding: 14px;
  border: 1px solid #0043a7;
  color: #fff;
  transition: 0.1s all linear;
}
#immigration_form header nav .headerBTNBox button:hover {
  background: var(--secondery);
}
#immigration_form header .heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 8px;
}
#immigration_form header .heading h2 {
  padding-bottom: 10px;
}
@media (max-width: 1115px) {
  #immigration_form header .heading {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #immigration_form header .heading .headingContent {
    order: 2;
  }
  #immigration_form header .heading .pageOption {
    order: 1;
  }
}
#immigration_form header .heading .pageOption {
  width: 100px;
  padding: 4px 12px;
  height: 30px;
  background-color: #1e90ff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  border-radius: 5px;
  position: relative;
  border: 2px solid gray;
  cursor: pointer;
}
#immigration_form header .heading .pageOption .formPagenetion {
  position: absolute;
  width: 120%;
  top: 29px;
  right: -2px;
  border: 2px solid gray;
  border-radius: 5px;
  color: #fff;
}
#immigration_form header .heading .pageOption .formPagenetion ol {
  background-color: gray;
  list-style-position: inside;
}
#immigration_form header .heading .pageOption .formPagenetion ol li {
  width: 100%;
  padding: 4px;
}
#immigration_form header .heading .pageOption .formPagenetion ol li:hover {
  background: rgba(0, 0, 0, 0.1176470588);
  color: var(--primary);
  cursor: pointer;
}
#immigration_form header .heading .pageOption .formPagenetion ol :first-child {
  background: #004c97;
}
#immigration_form .pro_container .pro_form {
  width: 100%;
  padding: 20px 30px;
  box-shadow: 0px 4px 11px 0px rgb(112, 112, 112);
}
#immigration_form .pro_container .pro_form #phase1 .phaseOneContent {
  width: 100%;
  display: flex;
  gap: 40px;
}
#immigration_form .pro_container .pro_form #phase1 .phaseOneContent .genaralInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#immigration_form .pro_container .pro_form #phase1 .phaseOneContent .personalInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#immigration_form .pro_container .pro_form #phase1 .phaseOneContent .inputRow {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
#immigration_form .pro_container .pro_form #phase1 .phaseOneContent .inputRow label {
  display: inline-block;
  white-space: wrap;
  max-width: 210px;
  width: 35%;
  color: #0072bc;
  font-weight: 600;
}
#immigration_form .pro_container .pro_form #phase1 .phaseOneContent .inputRow input {
  width: 65%;
  padding: 8px;
  outline: 1px solid #e2e2e2;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
}
#immigration_form .pro_container .pro_form #phase1 .phaseOneContent .inputRow input:focus {
  padding: 8px;
  border-color: var(--primary);
  outline-color: #004c97;
  box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
}
#immigration_form .pro_container .pro_form #phase1 .phaseOneContent .inputRow select {
  width: 65%;
  padding: 8px;
  border-radius: 5px;
  outline: 1px solid #e2e2e2;
  border: 1px solid #b6b6b6;
}
#immigration_form .pro_container .pro_form #phase1 .phaseOneContent .inputRow select:focus {
  padding: 8px;
  border-color: var(--primary);
  outline-color: #004c97;
  box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
}
#immigration_form .pro_container .pro_form #phase1 .phaseOneContent #nextBtn1 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--primary);
  color: var(--white);
  padding: 8px 105px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 5px;
}
#immigration_form .pro_container .pro_form #phase2 h2 {
  text-align: center;
  margin-bottom: 40px;
}
#immigration_form .pro_container .pro_form #phase2 .inputRow {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin-bottom: 20px;
}
#immigration_form .pro_container .pro_form #phase2 .inputRow label {
  display: inline-block;
  white-space: wrap;
  max-width: 210px;
  width: 35%;
  color: #0072bc;
  font-weight: 600;
}
#immigration_form .pro_container .pro_form #phase2 .inputRow input {
  width: 65%;
  padding: 8px;
  outline: 1px solid transparent;
  border: 1px solid gray;
  border-radius: 5px;
}
#immigration_form .pro_container .pro_form #phase2 .inputRow input:focus {
  padding: 8px;
  border-color: var(--primary);
  outline-color: #004c97;
  box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
}
#immigration_form .pro_container .pro_form #phase2 .ReasonforLeavingTable {
  width: 100%;
  margin-top: 50px;
}
#immigration_form .pro_container .pro_form #phase2 .ReasonforLeavingTable h4 {
  margin-bottom: 10px;
}
#immigration_form .pro_container .pro_form #phase2 .ReasonforLeavingTable table {
  width: 100%;
  border: 1px solid rgb(235, 3, 3);
  border-spacing: 0px;
  border-collapse: collapse;
}
#immigration_form .pro_container .pro_form #phase2 .ReasonforLeavingTable table tr th {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px 0;
}
#immigration_form .pro_container .pro_form #phase2 .ReasonforLeavingTable table tr td {
  border: 1px solid gray;
}
#immigration_form .pro_container .pro_form #phase2 .ReasonforLeavingTable table tr td label {
  color: var(--primary) !important;
}
#immigration_form .pro_container .pro_form #phase2 .ReasonforLeavingTable table tr td input {
  width: 100%;
  padding: 8px;
  outline: 1px solid transparent;
  border: 1px solid transparent;
  border-radius: 5px;
}
#immigration_form .pro_container .pro_form #phase2 .ReasonforLeavingTable table tr td input:focus {
  padding: 8px;
  border-color: var(--primary);
  outline-color: #004c97;
  box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
}
#immigration_form .pro_container .pro_form #phase2 .pahase2btnBox {
  display: flex;
  justify-content: center;
}
#immigration_form .pro_container .pro_form #phase2 .pahase2btnBox button {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--primary);
  color: var(--white);
  padding: 8px 105px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 5px;
}
#immigration_form .pro_container .pro_form #phase3 h2 {
  margin-bottom: 40px;
  text-align: center;
}
#immigration_form .pro_container .pro_form #phase3 #residences {
  text-align: center;
}
#immigration_form .pro_container .pro_form #phase3 #residences p {
  margin-bottom: 8px;
}
#immigration_form .pro_container .pro_form #phase3 #residences table {
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 5px;
}
#immigration_form .pro_container .pro_form #phase3 #residences tr {
  width: 100%;
  border-collapse: collapse;
}
#immigration_form .pro_container .pro_form #phase3 #residences td {
  padding: 0;
  border: 1px solid black;
}
#immigration_form .pro_container .pro_form #phase3 #residences td:first-child {
  width: 50%;
}
#immigration_form .pro_container .pro_form #phase3 #residences td:nth-child(2) {
  width: 25%;
}
#immigration_form .pro_container .pro_form #phase3 #residences td:nth-child(3) {
  width: 25%;
}
#immigration_form .pro_container .pro_form #phase3 #residences input {
  width: 100%;
  padding: 7px;
  border: none;
  outline: none;
}
#immigration_form .pro_container .pro_form #phase3 .educationORmilitary {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#immigration_form .pro_container .pro_form #phase3 .educationORmilitary .inputRow {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
#immigration_form .pro_container .pro_form #phase3 .educationORmilitary .inputRow label {
  display: inline-block;
  white-space: wrap;
  max-width: 210px;
  width: 35%;
  color: #0072bc;
  font-weight: 600;
}
#immigration_form .pro_container .pro_form #phase3 .educationORmilitary .inputRow input,
#immigration_form .pro_container .pro_form #phase3 .educationORmilitary .inputRow select {
  width: 65%;
  padding: 8px;
  outline: 1px solid transparent;
  border: 1px solid gray;
  border-radius: 5px;
}
#immigration_form .pro_container .pro_form #phase3 .educationORmilitary .inputRow input:focus,
#immigration_form .pro_container .pro_form #phase3 .educationORmilitary .inputRow select:focus {
  padding: 8px;
  border-color: var(--primary);
  outline-color: #004c97;
  box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
}
#immigration_form .pro_container .pro_form #phase3 .pahase3btnBox {
  display: flex;
  justify-content: center;
}
#immigration_form .pro_container .pro_form #phase3 .pahase3btnBox button {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--primary);
  color: var(--white);
  padding: 8px 105px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 5px;
}
#immigration_form .pro_container .pro_form #phase4 {
  padding: 20px 0;
}
#immigration_form .pro_container .pro_form #phase4 h4 {
  margin-bottom: 20px;
}
#immigration_form .pro_container .pro_form #phase4 .employmentAuth {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#immigration_form .pro_container .pro_form #phase4 .employmentAuth .inputRow {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
#immigration_form .pro_container .pro_form #phase4 .employmentAuth .inputRow label {
  display: inline-block;
  white-space: wrap;
  max-width: 210px;
  width: 35%;
  color: #0072bc;
  font-weight: 600;
}
#immigration_form .pro_container .pro_form #phase4 .employmentAuth .inputRow input {
  width: 65%;
  padding: 8px;
  outline: 1px solid transparent;
  border: 1px solid gray;
  border-radius: 5px;
}
#immigration_form .pro_container .pro_form #phase4 .employmentAuth .inputRow input:focus {
  padding: 8px;
  border-color: var(--primary);
  outline-color: #004c97;
  box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 76, 151, 0.77);
}
#immigration_form .pro_container .pro_form #phase4 .employmentAuth .inputRow textarea {
  width: 65%;
}
#immigration_form .pro_container .pro_form #phase4 .pahase4btnBox {
  display: flex;
  justify-content: center;
}
#immigration_form .pro_container .pro_form #phase4 .pahase4btnBox button {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--primary);
  color: var(--white);
  padding: 8px 105px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 5px;
}
#immigration_form .pro_container .pro_form #phase5 {
  width: 100%;
}
#immigration_form .pro_container .pro_form #phase5 #currentSpouse {
  width: 100%;
}
#immigration_form .pro_container .pro_form #phase5 #currentSpouse table {
  width: 100%;
  border: 1px solid gray;
  border-spacing: 0;
  border-collapse: collapse;
}
#immigration_form .pro_container .pro_form #phase5 #currentSpouse table tr {
  width: 100%;
}
#immigration_form .pro_container .pro_form #phase5 #currentSpouse table tr th {
  width: 25%;
  border: 1px solid gray;
}
#immigration_form .pro_container .pro_form #phase5 #currentSpouse table tr td {
  width: 25%;
  border: 1px solid gray;
}
#immigration_form .pro_container .pro_form #phase5 #currentSpouse table tr td input {
  width: 100%;
  padding: 8px;
  border: transparent;
}
#immigration_form .pro_container .pro_form #phase5 #currentSpouse table tr td textarea {
  width: 100%;
  border: none;
}
#immigration_form .pro_container .pro_form #phase5 #currentSpouse table tr .flexible .tdInputRow {
  display: flex;
}
#immigration_form .pro_container .pro_form #phase5 #currentSpouse table tr .flexible .tdInputRow label {
  width: 40%;
}
#immigration_form .pro_container .pro_form #phase5 #currentSpouse table tr .flexible .tdInputRow input {
  width: 70%;
}
#immigration_form .pro_container .pro_form #phase5 #currentSpouse table tr .flexible2 .tdInputRow2 {
  width: 100%;
  display: flex !important;
}
#immigration_form .pro_container .pro_form #phase5 #currentSpouse table tr .flexible2 .tdInputRow2 label {
  width: 100%;
  background: #000;
}
#immigration_form .pro_container .pro_form #phase5 #currentSpouse table tr .flexible2 .tdInputRow2 input {
  width: 100%;
}
#immigration_form .pro_container .pro_form #phase5 #informationSpouseEmployment {
  width: 100%;
}
#immigration_form .pro_container .pro_form #phase5 #informationSpouseEmployment input {
  width: 100%;
  padding: 5px 0;
}
#immigration_form .pro_container .pro_form #phase5 .pahase5btnBox {
  display: flex;
  justify-content: center;
}
#immigration_form .pro_container .pro_form #phase5 .pahase5btnBox button {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--primary);
  color: var(--white);
  padding: 8px 105px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 5px;
}
#immigration_form .pro_container .pro_form #phase6 .pahase6btnBox {
  display: flex;
  justify-content: center;
}
#immigration_form .pro_container .pro_form #phase6 .pahase6btnBox button {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--primary);
  color: var(--white);
  padding: 8px 105px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 5px;
}
#immigration_form .pro_container .pro_form #phase7 .pahase7btnBox {
  display: flex;
  justify-content: center;
}
#immigration_form .pro_container .pro_form #phase7 .pahase7btnBox button {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--primary);
  color: var(--white);
  padding: 8px 105px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 5px;
}
#immigration_form .pro_container .pro_form #phase8 .pahase8btnBox {
  display: flex;
  justify-content: center;
}
#immigration_form .pro_container .pro_form #phase8 .pahase8btnBox button {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--primary);
  color: var(--white);
  padding: 8px 105px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  #immigration_form header .mainHeader {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #immigration_form header nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  #immigration_form header nav .headerBTNBox {
    width: 100%;
    justify-content: center;
  }
  .pro_container .pro_form {
    padding: 10px 20px;
  }
  .pro_container .pro_form #phase1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .pro_container .pro_form #phase1 .genaralInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .pro_container .pro_form #phase1 .personalInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
.pahasebtnBox {
  width: 100%;
  padding-top: 30px !important;
  display: flex;
  justify-content: center;
}
.pahasebtnBox button {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--primary);
  color: var(--white);
  padding: 8px 105px !important;
  cursor: pointer;
  font-size: 22px;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */